body {
  background-image: url("00001.jpg");
  background-size: cover;
  background-position: center;
  background-color: #1c1c1c;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.homework-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.homework-item {
  margin: 10px 0;
}

.homework-link {
  text-decoration: none;
  color: #00bfff;
  font-size: 24px;
  transition: color 0.5s;
}

.homework-link:hover {
  color: #ffcc00;
}

.square {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 20px;
}
